{% extends 'layout.html.twig' %}

{% block title %}Parc modification{% endblock %}

{% block page_title %}Modification{% endblock %}

{% block page_content %}
{#<div class="row">
  <div class="col-6">
  	<form>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Numéro de parc
  				</span>
  			</div>
  			<input type="text" class="form-control" value="400AHD" disabled>
  		</div>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Type
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.type }}">
  		</div>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Marque
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.marque }}">
  		</div>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Numéro de série
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.nserie }}">
  		</div>
  	</form>
  </div>
  <div class="col-6">
  	<form>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Propriété
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.nserie }}">
  		</div>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Immatriculation
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.immatriculation }}">
  		</div>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Année
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.annee }}">
  		</div>
  		<div class="input-group mb-3">
  			<div class="input-group-prepend">
  				<span class="input-group-text">
  					Commentaires
  				</span>
  			</div>
  			<input type="text" class="form-control" value="{{ parc.commentaires }}">
  		</div>
  	</form>
  	<div class="row">
		<div class="col-4">
  			<a href="#" class="btn btn-danger">Annuler</a>
  		</div>
  		<div class="col-4"></div>
  		<div class="col-4">
  			<a href="#" class="btn btn-dark">Valider</a>	
  		</div>
  	</div>
  </div>
</div>#}

{{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="row">
    <div class="col-6">
      {{ form_row(form.type) }}
      {{ form_row(form.marque) }}
      {{ form_row(form.nserie) }}
    </div>

    <div class="col-6">
      {{ form_row(form.propriete) }}
      {{ form_row(form.immatriculation) }}
      {{ form_row(form.annee) }}
      {{ form_row(form.commentaires, {'required': false} ) }}
      <div class="row">
        <div class="col-4">
          {{ form_row(form.validation, {'attr': {'class': 'btn btn-dark'} }) }}
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <a href="{{ url('parc_vue', {'id' : id}) }}" class="btn btn-danger">Annuler</a>
        </div>
      </div>
    </div>
  </div>
{{ form_end(form) }}

{% endblock %}
