{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/style.css') }}">
{% endblock %}

{% block page_content %}
<div class="row">
  <div class="col">
    <table class="table table-hover text-center avectri">
      <thead class="thead-light">
        <tr>
          <th class="align-middle">Numéro de parc</th>
          <th class="align-middle">Société</th>
          <th class="align-middle selection" data-tri="1">Date d'entrée</th>
          <th class="align-middle">Date de sortie</th>
          <th class="align-middle">Type</th>
          <th class="align-middle">Marque</th>
          <th class="align-middle">Numéro de série</th>
          <th class="align-middle">Propriété</th>
          <th class="align-middle">Immatriculation</th>
          <th class="align-middle" data-type="num">Année</th>
          <th class="align-middle">Commentaires</th>
        </tr>
      </thead>
      <tbody>
        {% for affectation in listAffectations %}
          <tr>
            <td>{{ affectation.nparc }}</td>
            <td>{{ affectation.societe.nom }}</td>
            <td>{{ affectation.dentree|date("d/m/Y") }}</td>
            <td>{{ affectation.dsortie|date("d/m/Y") }}</td>
            <td>{{ affectation.parc.type.nom }}</td>
            <td>{{ affectation.parc.marque }}</td>
            <td>{{ affectation.parc.nserie }}</td>
            <td>{{ affectation.parc.propriete.nom }}</td>
            <td>{{ affectation.parc.immatriculation }}</td>
            <td>{{ affectation.parc.annee }}</td>
            <td>{{ affectation.parc.commentaires }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-6"></div>
  	<div class="col-6">
  		<ul class="pagination justify-content-end mx-2">
  			<li{% if page == 1 %} class="page-item disabled"{% else %} class="page-item"{% endif %}>
  				<a class="page-link" href="{{ path('accueil', {'page': page - 1}) }}" >Précédent</a>
  			</li>
        {% for p in range(1, nbPages) %}
          <li{% if p == page %} class="page-item active"{% else %} class="page-item"{% endif %}>
            <a class="page-link" href="{{ path('accueil', {'page': p}) }}"> {{ p }} </a>
          </li>
        {% endfor %}
  			<li{% if page == nbPages %} class="page-item disabled"{% else %} class="page-item"{% endif %}>
  				<a class="page-link" href="{{ path('accueil', {'page': page + 1}) }}">Suivant</a>
  			</li>
  		</ul>
  	</div>
  </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
/*
var page = 0;
var nbPerPage = 2;
var maxPages = 3;

disabledButton();

$('ul').on("click", ".next", function() {
	if (page < maxPages) {
    page++;
    requeteAjax(page, nbPerPage);
  }
  disabledButton();
});

$('ul').on("click", ".prev", function() {
	if (page > 0) {
    page--;
    // requeteAjax(page, nbPerPage);
  }
  disabledButton();
});

function disabledButton() {
  if (page <= 0) {$(".prev").addClass("disabled");}
  else {$(".prev").removeClass("disabled");}
  if (page >= maxPages) {$(".next").addClass("disabled");}
  else {$(".next").removeClass("disabled");}
}

function requeteAjax(page, nbPerPage) {
  console.log(page, nbPerPage)
	$.ajax({
			url: "{{ path('accueil', {'page': 1}) }}",
			type: "POST",
			dataType: "json",
			data: {"page": page, "nbPerPage": nbPerPage},
			async: true,
			success: function(resp) {
        console.log(resp);
			}
	});
}
*/
</script>

<script src="{{ asset('vendor/jquery/script.js') }}"></script>
{% endblock %}
