{% extends 'layout.html.twig' %}

{% block title %}Parc création{% endblock %}

{% block page_title %}Changement numéro{% endblock %}

{% block page_content %}

{{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="row">
    <div class="col-6">
			{{ form_row(form.nparc) }}
			{{ form_row(form.societe.nom) }}
      {{ form_row(form.parc.type) }}
      {{ form_row(form.parc.marque) }}
			{{ form_row(form.dentree) }}
			{{ form_row(form.dsortie) }}
    </div>

    <div class="col-6">
      {{ form_row(form.parc.propriete) }}
			{{ form_row(form.parc.nserie) }}
      {{ form_row(form.parc.immatriculation) }}
      {{ form_row(form.parc.annee) }}
      {{ form_row(form.parc.commentaires, {'required': false} ) }}
      <div class="row">
        <div class="col-4">
          {{ form_row(form.validation, {'attr': {'class': 'btn btn-dark'} }) }}
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <a href="{{ url('parc_vue', {'id': id}) }}" class="btn btn-danger">Annuler</a>
        </div>
      </div>
    </div>
  </div>
{{ form_row(form._token) }}
{{ form_end(form, {'render_rest' : false}) }}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$("#affectations_creation_form_nparc").keyup(function() {
  resetErrors();
  var val = $(this).val();
	$.ajax({
			url: "{{ path('parc_creation') }}",
			type: "POST",
			dataType: "json",
			data: {"search": val},
			async: true,
			success: function (resp) {
        if (resp) {
          $("#affectations_creation_form_validation").prop("disabled", true);
          var msg = '<span class="invalid-feedback d-block"><span class="mb-0 d-block"><span class="initialism form-error-icon badge badge-danger">Error</span> <span class="form-error-message">Numéro déjà attribué</span></span></span>';
          $("#affectations_creation_form_nparc").addClass('is-invalid').after(msg);
        } else {
          $("#affectations_creation_form_validation").prop("disabled", false);
			  }
      }
	});
});

function resetErrors() {
    $('input, select').removeClass('is-invalid');
    $("span").remove();
}

</script>
{% endblock %}